# BASICS OF PYTHON | SESSION 1&2

---
Sina Shafiezadeh | October 2024
---

# FAQ

1.   what is programming?

  Programming refers to the process of designing and writing instructions that a computer can understand and execute. It involves creating code using a specific programming language to create software programs, applications, and scripts that can perform various tasks.

2.   what is object-oriented programming?

  Object-oriented programming (OOP) is a programming paradigm that is based on the concept of objects, which can contain data and methods that act on that data. In OOP, objects are instances of classes, which define the structure and behavior of the objects.

3. what is Python?

  Python is a high-level, interpreted programming language that is widely used for web development, scientific computing, data analysis, artificial intelligence, and many other applications. It was created by Guido van Rossum and first released in 1991.

4. why should I learn Python?

*   Versatility: Python can be used for a wide range of applications, including web development, scientific computing, data analysis, artificial intelligence, machine learning, and many more.
*   Simplicity: Python has a simple syntax and is easy to read and write, making it a good choice for beginners.
*   Large community: Python has a large and active community of developers who create third-party libraries and tools, making it easy to find solutions to common problems.
*   Open-source: Python is free and open-source, which means that you can use it for any purpose without having to pay for it.
*   Simplicity

5. how can I coding Python?

*   Go to the official [Python](https://www.python.org/downloads/) website and the [Anaconda](https://www.anaconda.com/) website.
*   Or using the [Google Colab](https://colab.research.google.com/).
*   Or any other tools that you want.

6. what is Google Colab?

  Google Colab (short for Collaboratory) is a free online platform provided by Google that allows users to run Python code and execute Jupyter notebooks directly in the cloud. It is a popular tool for data scientists, machine learning engineers, and researchers who want to develop and experiment with machine learning models without the need for specialized hardware.

7. Do you have more questions?

  Ask from [ChatGPT](https://chat.openai.com/chat) or [Gemini](https://gemini.google.com/app) or any other generative tools you like as I asked to provide previous answers, connect with others in [stackoverflow](https://stackoverflow.com/), search your concerns in Google, and watch a lot of useful videos on Youtube for free!

# Content


*   Day 1:

  *   Create Variables
  *   Conditional Statements
  *   Loops

*   Day 2:

  *   Data Structure
  *   Algorithm

*   Day 3:

  *   Data Importing
  *   Data Cleaning
  *   Data Exploring

*   Day 4:

  *   Data Analysis
  *   Data Visualization
  *   Data Exporting

*   Day 5:

  *   Exam

LET'S START!

# 1.&nbsp;Create Variables

Create a variable with the name `course` and assign the value `"Basic of Python"` after using the `=` sign to the computer to remember information.

In [855]:
course = "Basic of Python"

we can expand variable names with **Snake Case** format for naming that each word is separated by an underscore character.

In [856]:
my_course = "Basic of Python"

or using **Camel Case** format for naming that each word, except the first, starts with a capital letter.

In [857]:
myCourse = "Basic of Python"

or using **Pascal Case** format that each word starts with a capital letter.

In [858]:
MyCourse = "Basic of Python"

Be careful! Python is a **case-sensitive** programming language, so `MyCourse` and `mycourse` are two different variables.

In [859]:
my_course

'Basic of Python'

Besides, we can't use **space** for the variable's name.

In [860]:
MyCourse = "Basic of Python"

It's better to choose a variable's name to help us understand what's inside a variable. In our case, it's easier to change the variable's name to `course_name`.

In [861]:
course_name = "Basic of Python"

Finally, we can also define a variable name using **numbers**. It sometimes could be very useful.

In [862]:
course_1_name = "Basic of Python"
course_2_name = "Cognitive Neuroscience"

Or mix with variable type, in this case, means string (str)

In [863]:
course_name_str = "Basic of Python"

Great! Let's look at the value on the right side. We store words in double quotes `"   "`, therefore it is a **string**. Strings can contain all sorts of letters and symbols.

In [864]:
course_name = "Basic of Python"

We ask Python to display a value by `print()` in the console, also known as the shell.

In [865]:
print(course_name)

Basic of Python

We can repeat `print()` as often as we want and display every value on a line.

In [866]:
print("=================================")
print("The course's name is:")
print(course_name)
print("=================================")

=================================
The course's name is:
Basic of Python
=================================

Before continuing this part, let's look at an important point. Python is an **interpreted language** and It means code is run there line by line. Please correct the following code.

In [867]:
universiy_name = "University of Padova"
print(universiy_name)

University of Padova

We can use this point to update variables. Please guess what will display in the console before running the code.

In [868]:
course_name = "Cognitive Neuroscience"
print(course_name)
course_name = "Basic of Python"
print(course_name)

Cognitive Neuroscience
Basic of Python

We can add string values together with the `+` sign.

In [869]:
print("Course name: " + "Basic of Python")
print("Course name: " + course_name)

Course name: Basic of Python
Course name: Basic of Python

Let's cross strings. We can store a **number** in a variable without using `"   "`.

In [870]:
course_score = 80

Add numbers together by `+`.

In [871]:
course_score = 80 + 10
print(course_score)

90

Subtract the numbers by `-`.

In [872]:
course_score = 80 - 10
print(course_score)

70

Multiply numbers by `*`.

In [873]:
course_score = 80 * 1.5
print(course_score)

120.0

Or divided by `/`.

In [874]:
course_score = 80 / 8
print(course_score)

10.0

Modulus by `%`.

In [875]:
course_score = 8 % 5
print(course_score)

3

Exponentiation by `**`.

In [876]:
course_score = 8 ** 2
print(course_score)

64

And floor division is calculated by `//`.

In [877]:
course_score = 8 // 5
print(course_score)

1

Keep the variable's value and change only the console by manipulating the `print()`.

In [878]:
course_score = 80
print(course_score / 8)
print(course_score)

10.0
80

Calculate results and store them in variables. Notice when we want to print a string and a number together in the `print()`, we must use `,` instead of `+` or using f-strings like `f" {} "` to add a variable in a string.

In [879]:
homework_1_score = 40
homework_2_score = 45
course_score = homework_1_score + homework_2_score
print("course score: " , course_score)
print(f"course score:  {course_score}")

course score:  85
course score:  85

Here is a question. How can we understand the type of our variable? the answer is using `type()`.

In [880]:
course_score = 80
print(type(course_score))

<class 'int'>

In [881]:
course_score = 80.0
print(type(course_score))

<class 'float'>

In [882]:
course_score = "80"
print(type(course_score))

<class 'str'>

Another question: How can we specify a variable type? The answer is casting by `int()`, `float()`, and `str()`.

In [883]:
course_1_score = int(80)   # will be 80
course_2_score = int(80.7) # will be 80 (not 81)
course_3_score = int("80") # will be 80

course_4_score = float(80)   # will be 80.0
course_5_score = float(80.7) # will be 80.7
course_6_score = float("80") # will be 80.0
course_7_score = float("80.2") # will be 80.2

course_8_score = str(80)   # will be '80'
course_9_score = str(80.7) # will be '80.7'

print("course_1_score:", course_1_score, "\t", type(course_1_score)) # "\t" add space between outputs
print("course_2_score:", course_2_score, "\t", type(course_2_score))
print("course_3_score:", course_3_score, "\t", type(course_3_score))
print("course_4_score:", course_4_score, "\t", type(course_4_score))
print("course_5_score:", course_5_score, "\t", type(course_5_score))
print("course_6_score:", course_6_score, "\t", type(course_6_score))
print("course_7_score:", course_7_score, "\t", type(course_7_score))
print("course_8_score:", course_8_score, "\t", type(course_8_score))
print("course_9_score:", course_9_score, "\t", type(course_9_score))

course_1_score: 80 	 <class 'int'>
course_2_score: 80 	 <class 'int'>
course_3_score: 80 	 <class 'int'>
course_4_score: 80.0 	 <class 'float'>
course_5_score: 80.7 	 <class 'float'>
course_6_score: 80.0 	 <class 'float'>
course_7_score: 80.2 	 <class 'float'>
course_8_score: 80 	 <class 'str'>
course_9_score: 80.7 	 <class 'str'>

Before finishing this part, let's review two important general points. First, Python uses **indentation** to indicate a block of code. Indentation refers to the spaces at the beginning of a code line. Please correct the following code.

In [884]:
course_score = 80
print(course_score)

80

Secondly, we can use `#` to add **comments** to our code. This helps with the readability and documentation of our code.

In [885]:
# the range of course scores is between 0 and 100
course_score = 80
print(course_score)

80

That's it! Let's try all the previous points to develop your first exercise.

## Exercise 1 part 1

---


Calculate your BMI score and show your name and score in the console.

*   Expected output 1: My name is Sara and my BMI score is 28.
*   Expected output 2: My name is John and my BMI score is 22.

In [886]:
# BMI formula: weight (kg) / height**2 (m)

weight = 65
height = 1.83
name = "Hiren"
bmi = weight / height**2
print(f"My name is {name} and my BMI score is {bmi:.1f}")

My name is Hiren and my BMI score is 19.4

Good job!

Sometimes we need to show if a feature is switched on or off by using `True` and `False` values.

In [887]:
calculated_bmi = True
print(calculated_bmi)

True

In [888]:
calculated_bmi = False
print(calculated_bmi)

False

Besides, we need to compare two values.

In [889]:
bmi_score = 28
print(bmi_score == 28) # equal
print(bmi_score != 28) # not equal
print(bmi_score > 28)  # greater than
print(bmi_score < 28)  # less than
print(bmi_score >= 28) # greater than or equal to
print(bmi_score <= 28) # less than or equal to

True
False
False
False
True
True

Maybe logical operators to combine conditional statements.

In [890]:
bmi_score = 28
print(bmi_score > 20 and bmi_score > 30) # returns True if both statements are true
print(bmi_score > 20 or bmi_score > 30) # returns True if one of the statements is true
print(not(bmi_score > 20 and bmi_score > 30)) # reverse the result, returns False if the result is true

False
True
True

## Exercise 1 part 2

---


Check whether your BMI score is normal or not.

*   Expected output 1: True
*   Expected output 2: False

In [891]:
# normal range is from 18.5 to 24.9
print(bmi >= 18.5 and bmi <= 24.9)

True

# 2.&nbsp;Conditional Statements

We use the **if statement** to adapt to different situations. Notice to use `:` after the statement and indentation before `print()`.

In [892]:
bmi_score = 28
print(bmi)

if bmi < 18.8:
  print("BMI score is under weight.")
else:
  print("BMI score is not under weight.")

19.409358296754156
BMI score is not under weight.

Maybe we have more than one condition.

In [893]:
bmi_score = 28

if bmi > 18.5 and bmi < 24.9:
  print("BMI score is normal.")
else:
  print("BMI score is not normal.")

BMI score is normal.

In [894]:
bmi_score = 28

if bmi < 18.5 or bmi > 24.9:
  print("BMI score is not normal.")
else:
  print("BMI score is normal.")

BMI score is normal.

Or we have more than two situations.

In [895]:
bmi_score = 28

if bmi_score < 18.8:
  print("BMI score is under weight.")
elif bmi_score > 18.5 and bmi_score < 24.9:
  print("BMI score is under normal.")
elif bmi_score > 25 and bmi_score < 29.9:
  print("BMI score is over weight.")
elif bmi_score > 30 and bmi_score < 39.9:
  print("BMI score is obesity.")
else:
  print("BMI score is extreme obesity.")

BMI score is over weight.

## Exercise 2

---


We want to predict the BMI score after doing sport routing over one year. Assume the one-month sport reduces the 0.38 value from the BMI score. What will happen to BMI score if someone does sports for 3, 6, 9, and 12 months?

*   Expected output 1: BMI score will be 27.76 after 3 months of sports.
*   Expected output 2: BMI score will be 24.91 after 12 months of sports

In [896]:
# try with different values
bmi_score = 28.4
sport_duration = 9

if sport_duration == 3:
    bmi_score -= 3*0.38
    print(f"BMI score will be {bmi_score:.2f} after 3 months of sports")
elif sport_duration == 6:
    bmi_score -= 6*0.38
    print(f"BMI score will be {bmi_score:.2f} after 3 months of sports")
elif sport_duration == 9:
    bmi_score -= 9*0.38
    print(f"BMI score will be {bmi_score:.2f} after 3 months of sports")
elif sport_duration == 12:
    bmi_score -= 12*0.38
    print(f"BMI score will be {bmi_score:.2f} after 3 months of sports")

BMI score will be 24.98 after 3 months of sports

# 3.&nbsp;Loops (while)

Using the `while` loop, we can execute a set of statements if a condition is true.

In [897]:
bmi_score = 21.4

while bmi_score < 25:
  print(f"your BMI score is {bmi_score} (normal range).")
  bmi_score += 1 # bmi_score = bmi_score + 1

your BMI score is 21.4 (normal range).
your BMI score is 22.4 (normal range).
your BMI score is 23.4 (normal range).
your BMI score is 24.4 (normal range).

If the while condition is true, the `break` statement will prevent the loop from continuing indefinitely.

In [898]:
bmi_score = 21.4

while bmi_score < 25:
  print(f"your BMI score is {bmi_score} (normal range).")
  if bmi_score < 18.8:
    break
  bmi_score -= 1 # bmi_score = bmi_score - 1

your BMI score is 21.4 (normal range).
your BMI score is 20.4 (normal range).
your BMI score is 19.4 (normal range).
your BMI score is 18.4 (normal range).

Or if the condition is no longer true, an `else` statement will run a block of code once.

In [899]:
bmi_score = 21.4

while bmi_score > 18.8:
  print(f"your BMI score is {bmi_score} (normal range).")
  bmi_score -= 1
else:
  print(f"your BMI score is {bmi_score} (under weight).")

your BMI score is 21.4 (normal range).
your BMI score is 20.4 (normal range).
your BMI score is 19.4 (normal range).
your BMI score is 18.4 (under weight).

The `continue` statement lets us stop the current iteration and move on to the next.

In [900]:
bmi_score = 19

while bmi_score < 25:
  bmi_score += 1
  if bmi_score == 22:
    continue
  if bmi_score >= 25:
    break
  print(f"your BMI score is {bmi_score} (normal range).")

your BMI score is 20 (normal range).
your BMI score is 21 (normal range).
your BMI score is 23 (normal range).
your BMI score is 24 (normal range).

## Exercise 3

---

We assumed the one-month sport reduce by 0.38 value from the BMI score. Now, write a `while` loop to calculate the maximum number of months to reach the normal range for BMI score.

*   Expected output 1: you need 3 months of sport
*   Expected output 2: you need 7 months of sport

In [901]:
# try different BMI score
bmi_score = 29.8
sport_duration = 0

normal_bmi_min = 18.5
normal_bmi_max = 24.9

bmi_reduction_per_month = 0.38
months = 0

# Loop until BMI falls within the normal range
while bmi_score > normal_bmi_max:
    bmi_score -= bmi_reduction_per_month
    months += 1


print(f"You need {months} months of sport.")

You need 13 months of sport.

# 4.&nbsp;Loops (for)

Excellent! Let's look at the `for` loop.

Using the `for` loop means we know how many times we need to execute a statement, so we can use it when we know how many iterations there will be. In addition, `range()` returns a sequence of numbers starting from 0 and incrementing by 1 by default, and ending at a specified number. Although, we can change default values if we want.

In [902]:
bmi_score = 19

for i in range(3):

  print(f"your BMI score is {bmi_score} (normal range).")
  bmi_score += 1

your BMI score is 19 (normal range).
your BMI score is 20 (normal range).
your BMI score is 21 (normal range).

Besides, while loop's statements including the `break`, `continue`, and `else` could be used here as well.

In [903]:
bmi_score = 19

for i in range(5):
  bmi_score += 1
  if bmi_score == 22:
    continue
  print(f"your BMI score is {bmi_score} (normal range).")

your BMI score is 20 (normal range).
your BMI score is 21 (normal range).
your BMI score is 23 (normal range).
your BMI score is 24 (normal range).

In [904]:
bmi_score = 19

for i in range(6):
  print(f"your BMI score is {bmi_score} (normal range).")
  bmi_score += 1
  if bmi_score == 25:
    break

your BMI score is 19 (normal range).
your BMI score is 20 (normal range).
your BMI score is 21 (normal range).
your BMI score is 22 (normal range).
your BMI score is 23 (normal range).
your BMI score is 24 (normal range).

In [905]:
bmi_score = 19

for i in range(6):
  print(f"your BMI score is {bmi_score} (normal range).")
  bmi_score += 1
else:
  print(f"your BMI score is {bmi_score} (under weight).")

your BMI score is 19 (normal range).
your BMI score is 20 (normal range).
your BMI score is 21 (normal range).
your BMI score is 22 (normal range).
your BMI score is 23 (normal range).
your BMI score is 24 (normal range).
your BMI score is 25 (under weight).

## Exercise 4

---


Similar to the previous exercise we assumed the one-month sport reduce 0.38 value from the BMI score. Now, write a `for` loop to calculate finalized BMI score after 7 months of sports.

*   Expected output 1: your BMI score will be 21.93 after 7 months of sport
*   Expected output 2: your BMI score will be 26.77 after 7 months of sport

In [906]:
# try different BMI score
bmi_score = 28.6
sport_duration = 7

# print(28.6 - (7*0.38))

for _ in range(sport_duration):
    bmi_score -= 0.38

print(f"Your BMI score will be {bmi_score:.2f} after {sport_duration} months")

Your BMI score will be 25.94 after 7 months

range() function 

range(start, stop, step)
- start: The starting value of the sequence (inclusive). Defaults to 0 if omitted.
- stop: The ending value (exclusive, i.e., not included in the sequence).
- step: The difference between each number in the sequence. Defaults to 1 if omitted.

```python
for i in range(5):
    print(i)
# Output: 0, 1, 2, 3, 4

##
for i in range(2, 6):
    print(i)
# Output: 2, 3, 4, 5

##
for i in range(1, 10, 2):
    print(i)
# Output: 1, 3, 5, 7, 9

```

- The sequence excludes the stop value.
- The step can be negative to generate a decreasing sequence.

# 5.&nbsp;Data Structure (string and list)

For organization, management, and storage data we need to know different data types and how to work with them. We familiarize ourselves with **integers**, **floats**, and **booleans** before.

In [907]:
x = 18 # int
y = 24.9 # float
z = True # boolean

We are also familiarized with **string** but let's deep in a little bit on that.

In [908]:
w = "this is a string"
print(type(w)) # get data type

<class 'str'>

In [909]:
print(len(w)) # get length

16

In [910]:
# access item by position
# note: position in Python starts at 0.
print("position 0 : ", w[0])
print("position 1 : ", w[1])
print("position -2: ", w[-2])
print("\n") # create a new line
print("range of position 1: ", w[1:3])
print("range of position 2: ", w[:3])
print("range of position 3: ", w[3:])
print("range of position 4: ", w[:])
print("range of position 5: ", w[-3:-1])
print("range of position 6: ", w[:-1])
print("range of position 7: ", w[-3:])

position 0 :  t
position 1 :  h
position -2:  n


range of position 1:  hi
range of position 2:  thi
range of position 3:  s is a string
range of position 4:  this is a string
range of position 5:  in
range of position 6:  this is a strin
range of position 7:  ing

In [911]:
# check if item exists
if "this" in w:
  print("Yes, this is in w string.")

Yes, this is in w string.

In [912]:
print(w.upper()) # upper case

THIS IS A STRING

In [913]:
print(w.lower()) # lower case

this is a string

In [914]:
print(w.replace("this", "that")) # replace

that is a string

In [915]:
print(w.split(" ")) # split by space

['this', 'is', 'a', 'string']

Perfect!

Let's continue with another data type. Using **lists**, we can store multiple items with any type of data in one variable by using `[]` and `,` between items.

In [916]:
student = ["name", "Weight", "Height", 21.7, True]
print(student)

['name', 'Weight', 'Height', 21.7, True]

In [917]:
print(type(student)) # get data type

<class 'list'>

In [918]:
print(len(student)) # get length

5

In [919]:
# access item by index
# note: indexing in Python starts at 0.
print("index 0 : ", student[0])
print("index 1 : ", student[1])
print("index -2: ", student[-2])
print("\nrange of index 1: ", student[1:3]) # notice to \n
print("range of index 2: ", student[:3])
print("range of index 3: ", student[1:])
print("range of index 4: ", student[:])
print("range of index 5: ", student[-3:-1])
print("range of index 6: ", student[:-1])
print("range of index 7: ", student[-3:])

index 0 :  name
index 1 :  Weight
index -2:  21.7

range of index 1:  ['Weight', 'Height']
range of index 2:  ['name', 'Weight', 'Height']
range of index 3:  ['Weight', 'Height', 21.7, True]
range of index 4:  ['name', 'Weight', 'Height', 21.7, True]
range of index 5:  ['Height', 21.7]
range of index 6:  ['name', 'Weight', 'Height', 21.7]
range of index 7:  ['Height', 21.7, True]

In [920]:
# check if item exists
if "Height" in student:
  print("Yes, Height is in the student list.")

Yes, Height is in the student list.

In [921]:
# change item value by index
print(student)
student[3] = 21.4
student[1:3] = ["weight", "height"]
print(student)

['name', 'Weight', 'Height', 21.7, True]
['name', 'weight', 'height', 21.4, True]

In [922]:
# insert item value by index
student.insert(1, "surname")
print(student)

['name', 'surname', 'weight', 'height', 21.4, True]

In [923]:
# append item value to the end of the list
student.append("age")
print(student)

['name', 'surname', 'weight', 'height', 21.4, True, 'age']

In [924]:
# append items from another list to current list
education = ["course", "score"]
student.extend(education)
print(student)

['name', 'surname', 'weight', 'height', 21.4, True, 'age', 'course', 'score']

In [925]:
# append and extend difference
list_one = [1, 3, 5, 7]
list_two = [9, 11]
list_one.append(list_two)
print("appended list: ", list_one)

list_one = [1, 3, 5, 7]
list_two = [9, 11]
list_one.extend(list_two)
print("extended list: ", list_one)

appended list:  [1, 3, 5, 7, [9, 11]]
extended list:  [1, 3, 5, 7, 9, 11]

In [926]:
# remove by item value
student.remove("course")
print(student)

['name', 'surname', 'weight', 'height', 21.4, True, 'age', 'score']

In [927]:
# remove by index
student.pop(-2)
print(student)

['name', 'surname', 'weight', 'height', 21.4, True, 'score']

In [928]:
# the pop() method removes the last item if you don't specify the index
student.pop()
print(student)

['name', 'surname', 'weight', 'height', 21.4, True]

In [929]:
# another way to remove by index
del student[1]
print(student)

['name', 'weight', 'height', 21.4, True]

In [930]:
# loop through a list
for i in student:
  print(i)

name
weight
height
21.4
True

In [931]:
# loop through the index numbers
for i in range(len(student)):
  print(student[i])

name
weight
height
21.4
True

In [932]:
# removes all the items from the list
student.clear()
print(student)

[]

In [933]:
# looping using list comprehension (shortest syntax)
bmi = [21.31, 26.9, 24.1, 29.4]
student_bmi = [i+1 for i in bmi]
print(student_bmi)

[22.31, 27.9, 25.1, 30.4]

In [934]:
# sort items
student_bmi.sort() # ascending
print(student_bmi)
student_bmi.sort(reverse = True) # descending
print(student_bmi)

[22.31, 25.1, 27.9, 30.4]
[30.4, 27.9, 25.1, 22.31]

## Exercise 5
---
1. Calculate the BMI score for all patients and store it in a list. (Hint: for loop)
2. Remove items in the normal range.  (Hint: if statement)
3. Sort items by descending.

*   Expected output:
        [28.20, 27.52, 25.34]

In [935]:
patient_name = ["Georgia", "Oscar", "Juliet", "Lily", "William"]
patient_weight = [54.7, 79.6, 81.2, 51.9, 102.5] # kg
patient_height = [152, 168, 179, 161, 193] # cm
patient_bmi = []

# start from here...
l = []

for i in range(len(patient_weight)):
    bmi = patient_weight[i] / (patient_height[i]/100)**2
    if(bmi >= 18.5 and bmi <= 24.5): 
        continue
    l.append(round(bmi, 2))

l.sort()

# print("1", sorted(l))
print(l)

## chat gpt
bmi_values = [round((weight / ((height / 100) ** 2)), 2) for weight, height in zip(patient_weight, patient_height)]
# print(bmi_values)

[25.34, 27.52, 28.2]

# !! ChatGPT Strings and Lists Summary

### Python String Concepts

Strings in Python are sequences of characters enclosed in quotes. They are **immutable**, meaning they cannot be changed after creation.

#### 1. **String Creation**
Strings can be created using single (`'`), double (`"`), or triple quotes (`'''` or `"""`).

```python
single_quote = 'Hello'
double_quote = "Hello"
multi_line = '''This is 
a multi-line string.'''
```

#### 2. **String Immutability**
Once a string is created, its characters cannot be modified. You can reassign a new string but cannot alter individual characters.

```python
text = "Hello"
# text[0] = 'h'  # This will raise an error since strings are immutable
text = "hello"  # Reassigning a new string is allowed
```

---

#### 3. **String Concatenation**
Strings can be concatenated (combined) using the `+` operator or repeated using the `*` operator.

```python
greeting = "Hello" + " World"  # Output: 'Hello World'
repeat_text = "Hi" * 3         # Output: 'HiHiHi'
```

---

#### 4. **String Indexing and Slicing**
- **Indexing** allows accessing individual characters in a string. Indexing starts at `0`, and negative indexing starts from the end (`-1` being the last character).
- **Slicing** extracts a substring using `[start:end]`, where `start` is inclusive and `end` is exclusive.

```python
text = "Python"
first_char = text[0]        # Output: 'P'
last_char = text[-1]        # Output: 'n'
substring = text[1:4]       # Output: 'yth' (from index 1 to 3)
```

---

#### 5. **String Methods**

Python provides a wide range of **string methods** for manipulation and formatting.

- **Case Conversion**:
  - `upper()` converts to uppercase.
  - `lower()` converts to lowercase.
  - `title()` capitalizes the first letter of each word.

  ```python
  text = "hello world"
  print(text.upper())  # Output: 'HELLO WORLD'
  ```

- **Stripping Whitespace**:
  - `strip()`: Removes leading and trailing whitespace.
  - `lstrip()` and `rstrip()` remove leading and trailing spaces, respectively.

  ```python
  text = "  hello  "
  print(text.strip())  # Output: 'hello'
  ```

- **Splitting and Joining**:
  - `split()`: Breaks a string into a list of substrings.
  - `join()`: Concatenates a list of strings into a single string.

  ```python
  text = "a,b,c"
  print(text.split(','))  # Output: ['a', 'b', 'c']

  items = ['a', 'b', 'c']
  print(','.join(items))  # Output: 'a,b,c'
  ```

- **Find and Replace**:
  - `find(substring)`: Returns the index of the first occurrence of a substring or `-1` if not found.
  - `replace(old, new)`: Replaces occurrences of `old` with `new`.

  ```python
  text = "hello world"
  print(text.find('world'))   # Output: 6
  print(text.replace('world', 'Python'))  # Output: 'hello Python'
  ```

---

#### 6. **String Formatting**
There are several ways to format strings in Python:

- **Using `f-strings` (Python 3.6+)**:
  ```python
  name = "Alice"
  age = 30
  greeting = f"Hello, {name}. You are {age} years old."
  # Output: 'Hello, Alice. You are 30 years old.'
  ```

- **Using `format()`**:
  ```python
  greeting = "Hello, {}. You are {} years old.".format("Alice", 30)
  # Output: 'Hello, Alice. You are 30 years old.'
  ```

- **Old-style `%` formatting**:
  ```python
  greeting = "Hello, %s. You are %d years old." % ("Alice", 30)
  # Output: 'Hello, Alice. You are 30 years old.'
  ```

---

#### 7. **Escape Sequences**
Escape sequences allow special characters to be included in strings.

- `\n`: Newline
- `\t`: Tab
- `\\`: Backslash
- `\'`: Single quote
- `\"`: Double quote

```python
text = "Hello\nWorld"   # Output: 'Hello' followed by a new line with 'World'
```

---

#### 8. **String Length**
The `len()` function returns the length of a string.

```python
text = "Python"
print(len(text))  # Output: 6
```

----

### Python List Methods

Here’s a summary of common list methods used in Python:

- **`append(item)`**: Adds an item to the end of the list.
  ```python
  my_list.append(5)  # Adds 5 to the list
  ```

- **`extend(iterable)`**: Adds all elements of an iterable to the end of the list.
  ```python
  my_list.extend([6, 7])  # Adds 6 and 7 to the list
  ```

- **`insert(index, item)`**: Inserts an item at a specific index.
  ```python
  my_list.insert(2, 10)  # Inserts 10 at index 2
  ```

- **`pop(index)`**: Removes and returns the item at the given index (default is the last item).
  ```python
  my_list.pop()  # Removes and returns the last element
  ```

- **`remove(item)`**: Removes the first occurrence of the specified item.
  ```python
  my_list.remove(5)  # Removes the first occurrence of 5
  ```

- **`sort()`**: Sorts the list in ascending order.
  ```python
  my_list.sort()  # Sorts the list in-place
  ```

- **`reverse()`**: Reverses the order of elements in the list.
  ```python
  my_list.reverse()  # Reverses the list in-place
  ```

- **`index(item)`**: Returns the index of the first occurrence of the item.
  ```python
  my_list.index(10)  # Output: 2
  ```

- **`count(item)`**: Returns the number of occurrences of the item.
  ```python
  my_list.count(10)  # Output: 1
  ```

---

Splicing, or slicing, refers to accessing parts of sequences like lists, tuples, and strings. The slicing syntax allows you to extract a portion of a sequence without modifying the original data. 

### Basic Slicing Syntax

The general syntax for slicing is:

```python
sequence[start:stop:step]
```

- **`start`**: The index to start the slice (inclusive). If omitted, defaults to `0`.
- **`stop`**: The index to end the slice (exclusive). If omitted, defaults to the length of the sequence.
- **`step`**: The increment (or stride) between each index in the slice. If omitted, defaults to `1`.

### Examples

1. **Basic Slicing**
   ```python
   my_list = [0, 1, 2, 3, 4, 5, 6]
   print(my_list[2:5])  # Output: [2, 3, 4]
   ```

2. **Omitting Start or Stop**
   ```python
   print(my_list[:3])   # Output: [0, 1, 2] (from start to index 3)
   print(my_list[4:])   # Output: [4, 5, 6] (from index 4 to end)
   ```

3. **Using Step**
   ```python
   print(my_list[::2])  # Output: [0, 2, 4, 6] (every second element)
   ```

4. **Negative Indices**
   You can use negative indices to count from the end of the sequence.
   ```python
   print(my_list[-3:])  # Output: [4, 5, 6] (last three elements)
   print(my_list[:-4])  # Output: [0, 1, 2] (all but the last four elements)
   ```

5. **Slicing Strings**
   ```python
   my_string = "Hello, World!"
   print(my_string[7:12])  # Output: "World"
   print(my_string[::-1])   # Output: "!dlroW ,olleH" (reversed string)
   ```

6. **Slicing Tuples**
   ```python
   my_tuple = (1, 2, 3, 4, 5)
   print(my_tuple[1:4])  # Output: (2, 3, 4)
   ```

### Important Points

- **Immutable Sequences**: Strings and tuples are immutable, meaning slicing them creates a new object.
- **Lists are Mutable**: You can slice lists and then modify the original list if needed.
- **Out-of-Bounds Indices**: If `start` or `stop` indices are out of bounds, Python handles it gracefully and returns what is available without raising an error.

# 6.&nbsp;Data Structure (tuple, set and dictionary)

We can group together closely-related data unchangeable using **tuples**. We create them similarly to lists but using parentheses `()` instead of brackets.

In [936]:
thistuple = ("Georgia", 54.7, 152, False)
print(type(thistuple))

<class 'tuple'>

In [937]:
print(len(thistuple))

4

In [938]:
tuple_one_item = ("Georgia",)
print(type(tuple_one_item))

# it is NOT a tuple
tuple_one_item = ("Georgia")
print(type(tuple_one_item))

<class 'tuple'>
<class 'str'>

Tuple splicing

In [939]:
# access item by index
print("index 0 : ", thistuple[0])
print("index 1 : ", thistuple[1])
print("index -2: ", thistuple[-2])
print("=================================")
print("range of index 1: ", thistuple[1:3])
print("range of index 2: ", thistuple[:3])
print("range of index 3: ", thistuple[1:])
print("range of index 4: ", thistuple[:])
print("range of index 5: ", thistuple[-3:-1])
print("range of index 6: ", thistuple[:-1])
print("range of index 7: ", thistuple[-3:])

index 0 :  Georgia
index 1 :  54.7
index -2:  152
=================================
range of index 1:  (54.7, 152)
range of index 2:  ('Georgia', 54.7, 152)
range of index 3:  (54.7, 152, False)
range of index 4:  ('Georgia', 54.7, 152, False)
range of index 5:  (54.7, 152)
range of index 6:  ('Georgia', 54.7, 152)
range of index 7:  (54.7, 152, False)

In [940]:
# check if item exists
if "Georgia" in thistuple:
  print("Yes, Georgia is in thistuple.")

Yes, Georgia is in thistuple.

Tuples are **unchangeable**, therefore we should convert them to a list to change, add, or remove an item.

In [941]:
thislist = list(thistuple) # convert to a list
thislist[0] = "Oscar" # change an item
thislist.append("Brown") # add an item
thislist.remove(152) # remove an item
thistuple = tuple(thislist) # convert to a tuple
print(thistuple)

('Oscar', 54.7, False, 'Brown')

The next data type is **set**. We use a set like a list but use `{}` to make sure values can't have any **duplicates**.

In [942]:
thisset = {"Georgia", 54.7, 152, False, False}
print(type(thisset))

<class 'set'>

In [943]:
print(len(thisset)) # remove duplicated False

4

We can not refer to set items by index or key, because sets are **unordered** and they can appear in a different order each time you use them.

In [944]:
print(thisset)

{False, 152, 54.7, 'Georgia'}

Although we can't change values, we are able to **add** or **remove** new values.

In [945]:
thisset.add("Brown")
thisset.remove(54.7)
print(thisset)

{False, 'Brown', 'Georgia', 152}

Let's familiarize ourselves with another data type called **dictionary**. A dictionary consists of **keys** and **values** and is written in curly brackets `{}`.

In [946]:
thisdict = {"name": ["Georgia"],
            "bmi": 21.5,
            "normal": True}
print(type(thisdict))

<class 'dict'>

In [947]:
print(len(thisdict))

3

In [948]:
# get all the keys
print(thisdict.keys())

dict_keys(['name', 'bmi', 'normal'])

In [949]:
# get all the values
print(thisdict.values())

dict_values([['Georgia'], 21.5, True])

In [950]:
# get all the items in tuples
print(thisdict.items())

dict_items([('name', ['Georgia']), ('bmi', 21.5), ('normal', True)])

In [951]:
# access item by key name
print(thisdict["bmi"])

21.5

In [952]:
# check if key exists
if "name" in thisdict:
  print("Yes, name is one of the keys in the thisdict")

Yes, name is one of the keys in the thisdict

In [953]:
thisdict["name"] = "Oscar" # change an item
thisdict["surname"] = "Brown" # add an item
thisdict.pop("bmi") # remove an item
print(thisdict)

{'name': 'Oscar', 'normal': True, 'surname': 'Brown'}

## Exercise 6

---


1. Calculate the BMI score for all patients and store their **name** and **BMI score** in patients_info dictionary.
2. Remove items in the normal range.

*   Expected output:
        patients_info = {"name": ["Oscar", "Juliet", "William"], "bmi": [28, 25, 27]}

In [954]:
patient_name = ["Georgia", "Oscar", "Juliet", "Lily", "William"]
patient_weight = [54.7, 79.6, 81.2, 51.9, 102.5] # kg
patient_height = [152, 168, 179, 161, 193] # cm
patients_info = {"name":[]
                 ,"bmi":[]}

# start from here...

# l = {
#     key:value for key, value in zip(patient_name, [round((w / (h/100)**2), 2) 
#                         for w,h in zip(patient_weight, patient_height)])
#                         }
# print(l, "\n")


# solution
patients_info["bmi"] = [bmi for bmi in [round((w // (h/100)**2)) for w,h in zip(patient_weight, patient_height)] if bmi >= 24.9 or bmi <= 18.5]
patients_info["name"] = patient_name
print(patients_info)

{'name': ['Georgia', 'Oscar', 'Juliet', 'Lily', 'William'], 'bmi': [28, 25, 27]}

# 7.&nbsp;Data Structure (module and array)

The last data type we want to know is an **array**. However, we need to know about the **module** first to work with arrays in Python easier.

Modules group related classes and methods to be accessible from one place.

In the following, we import the [numpy](https://numpy.org//) package and modify its name into np to use easier later. Numpy is the fundamental package for scientific computing with Python.

In [955]:
import numpy as np

We can access an array's values by referring to its index number, and arrays can hold many values.

In [956]:
# set the seed for reproducibility
np.random.seed(42)

# generate 20 random float values between 18 and 32
bmi_array = np.random.uniform(18, 32, size=20)
bmi_array = np.round(bmi_array, 2)

print(type(bmi_array))

<class 'numpy.ndarray'>

In [957]:
print(bmi_array)

[23.24 31.31 28.25 26.38 20.18 20.18 18.81 30.13 26.42 27.91 18.29 31.58
 29.65 20.97 20.55 20.57 22.26 25.35 24.05 22.08]

In [958]:
print(len(bmi_array))

20

In [959]:
# access item by index
print("index 0 : ", bmi_array[0])
print("index 1 : ", bmi_array[1])
print("index -2: ", bmi_array[-2])
print("\n")
print("=================================")
print("\n")
print("range of index 1: ", bmi_array[1:3])
print("\nrange of index 2: ", bmi_array[:3])
print("\nrange of index 3: ", bmi_array[1:])
print("\nrange of index 4: ", bmi_array[:])
print("\nrange of index 5: ", bmi_array[-3:-1])
print("\nrange of index 6: ", bmi_array[:-1])
print("\nrange of index 7: ", bmi_array[-3:])

index 0 :  23.24
index 1 :  31.31
index -2:  24.05


=================================


range of index 1:  [31.31 28.25]

range of index 2:  [23.24 31.31 28.25]

range of index 3:  [31.31 28.25 26.38 20.18 20.18 18.81 30.13 26.42 27.91 18.29 31.58 29.65
 20.97 20.55 20.57 22.26 25.35 24.05 22.08]

range of index 4:  [23.24 31.31 28.25 26.38 20.18 20.18 18.81 30.13 26.42 27.91 18.29 31.58
 29.65 20.97 20.55 20.57 22.26 25.35 24.05 22.08]

range of index 5:  [25.35 24.05]

range of index 6:  [23.24 31.31 28.25 26.38 20.18 20.18 18.81 30.13 26.42 27.91 18.29 31.58
 29.65 20.97 20.55 20.57 22.26 25.35 24.05]

range of index 7:  [25.35 24.05 22.08]

In [960]:
# 1D array with 5 elements between 18 to 30
arr_1d = np.random.randint(18,30,size=(3))
print(arr_1d.shape)
print(arr_1d)

# 2D array with 3 rows and 4 columns
arr_2d = np.random.randint(18,30,size=(3, 2))
print("\n")
print("==================")
print("\n")
print(arr_2d.shape)
print(arr_2d)


# 3D array with 2 planes, 3 rows, and 2 columns
arr_3d = np.random.randint(18,30,size=(2, 3, 5))
print("\n")
print("==================")
print("\n")
print(arr_3d.shape)
print(arr_3d)

(3,)
[28 27 29]


==================


(3, 2)
[[29 20]
 [29 24]
 [21 26]]


==================


(2, 3, 5)
[[[20 22 20 24 22]
  [26 24 19 21 26]
  [29 19 27 26 27]]

 [[22 19 21 29 29]
  [24 29 25 20 18]
  [21 19 25 21 19]]]

## Exercise 7

---


1. Create two arrays for weight and height with 5 float random values.
2. Calculate the BMI score and store it in a list called **calculated_bmi**, at the same time, indicate whether a BMI value is normal or not and store it in a list called **evaluated_bmi**.


*   Expected output:
        calculated_bmi: [31.35, 21.72, 47.07, 34.03, 29.43]
        evaluated_bmi: [False, True, False, False, False]

In [961]:
# select a reasonable weight and height range as you want
np.random.seed(42)

# start from here...
height_l = np.random.randint(45, 180, size=(5))
weight_l = np.random.randint(45, 190, size=(5))

calculated_bmi_l = [round(float(w/(h/100)**2), 2) for w,h in zip(weight_l, height_l)]
evaluated_bmi = []

for b in calculated_bmi_l:
    if b >= 18.5 and b<=24.9:
        evaluated_bmi.append(True)
    else:
        evaluated_bmi.append(False)


print(f"calculated bmi: {calculated_bmi_l} \nevaluted bmi:   {evaluated_bmi}")

calculated bmi: [30.08, 78.32, 476.87, 52.19, 98.1]
evaluted bmi:   [False, False, False, False, False]

# !! NumPy overview  
#### 1. **NumPy Basics**
#### Importing NumPy:
```python
import numpy as np
```
### 2. **Creating Arrays**

- **1D Array**:
    ```python
    a = np.array([1, 2, 3])
    ```

- **2D Array**:
    ```python
    b = np.array([[1, 2, 3], [4, 5, 6]])
    ```

- **Zeroes, Ones, Identity Matrix**:
    ```python
    np.zeros((2, 3))          # 2x3 matrix filled with zeros
    np.ones((2, 3))           # 2x3 matrix filled with ones
    np.eye(3)                 # 3x3 identity matrix
    ```

- **Range, Arange, and Linspace**:
    ```python
    np.arange(0, 10, 2)       # array([0, 2, 4, 6, 8])
    np.linspace(0, 1, 5)      # 5 equally spaced numbers between 0 and 1
    ```

### 3. **Array Properties**
- **Shape**:
    ```python
    a.shape   # Returns shape of array, e.g., (3,) for 1D array
    ```

- **Data Type**:
    ```python
    a.dtype   # Returns type of elements in array, e.g., dtype('int64')
    ```

- **Number of Dimensions**:
    ```python
    a.ndim    # Returns number of dimensions (axes), e.g., 1 for 1D array
    ```

- **Size** (total number of elements):
    ```python
    a.size    # Returns total number of elements in the array
    ```

### 4. **Indexing & Slicing**

- **Indexing**:
    ```python
    b[1, 2]    # Access element at row 1, column 2 (returns 6)
    ```

- **Slicing**:
    ```python
    b[:, 1]    # Access all rows, column 1
    b[0, :]    # Access row 0, all columns
    ```

- **Boolean Masking**:
    ```python
    a[a > 1]   # Filters elements > 1 (returns array([2, 3]))
    ```

### 5. **Reshaping Arrays**
```python
b.reshape(3, 2)      # Reshape 2x3 array into 3x2
b.ravel()            # Flatten the array into 1D
```

### 6. **Mathematical Operations**

- **Element-wise Operations**:
    ```python
    c = np.array([10, 20, 30])
    a + c       # array([11, 22, 33])
    a * 2       # array([2, 4, 6])
    np.sqrt(a)  # array([1. , 1.41, 1.73])
    ```

- **Matrix Multiplication**:
    ```python
    np.dot(a, c)     # Dot product of vectors (returns 140)
    np.matmul(b, b.T) # Matrix multiplication
    ```

### 7. **Aggregate Functions**
- **Sum, Mean, Max, Min**:
    ```python
    np.sum(a)        # Returns sum of array elements (6)
    np.mean(a)       # Returns mean (2.0)
    np.max(a)        # Returns max (3)
    np.min(a)        # Returns min (1)
    ```

- **Axis-wise Operations**:
    ```python
    np.sum(b, axis=0)  # Sum along columns
    np.mean(b, axis=1) # Mean along rows
    ```

### 8. **Broadcasting**

NumPy allows performing operations between arrays of different shapes by stretching the smaller array.
```python
a = np.array([1, 2, 3])
b = np.array([[1], [2], [3]])

a + b  # array([[2, 3, 4], [3, 4, 5], [4, 5, 6]])
```

### 9. **Random Numbers**

- **Generate Random Numbers**:
    ```python
    np.random.rand(3, 2)       # Uniform distribution in [0, 1)
    np.random.randn(3, 2)      # Standard normal distribution
    np.random.randint(0, 10, (3, 2)) # Integers between 0 and 9
    ```

- **Shuffling & Sampling**:
    ```python
    np.random.shuffle(a)       # Shuffle the array in-place
    np.random.choice(a, 2)     # Randomly sample 2 elements from array
    ```

### 10. **Advanced Operations**

- **Transposing Arrays**:
    ```python
    b.T  # Transpose a matrix
    ```

- **Stacking Arrays**:
    ```python
    np.vstack([a, a])   # Stack arrays vertically
    np.hstack([a, a])   # Stack arrays horizontally
    ```

- **Concatenation**:
    ```python
    np.concatenate([a, a], axis=0)  # Concatenate arrays along axis
    ```

### 11. **Copying Arrays**

- **Shallow vs Deep Copy**:
    ```python
    c = a.copy()    # Deep copy: changes to `c` won't affect `a`
    ```

### 12. **Linear Algebra Operations**
- **Inverse, Determinant, Eigenvalues**:
    ```python
    np.linalg.inv(b)             # Inverse of a matrix
    np.linalg.det(b)             # Determinant of a matrix
    np.linalg.eig(b)             # Eigenvalues and eigenvectors
    ```

### 13. **Handling Missing Values**

- **Replace with NaN**:
    ```python
    a[a < 0] = np.nan   # Replace negative values with NaN
    ```

- **Check for NaN**:
    ```python
    np.isnan(a)         # Returns a boolean array where NaN is True
    ```

- **Replace NaN with a number**:
    ```python
    np.nan_to_num(a)    # Replace NaN with 0 or other value
    ```
---

# 8.&nbsp;Algorithm (function)

**Algorithms** define a set of actions that must be performed in a specific step by step to produce the desired result.

**Functions** help us to implement algorithms. Functions are blocks of code that only run when they are called in situations where we want to reuse existing code without rewriting it.

In [962]:
# define a function
def first_function():
  print("this is my first function.")

# call a function
first_function()

this is my first function.

We can write our algorithm inside a function and pass value to it.

In [963]:
def first_function(x):
  x = x + 3
  return x

first_function(x=4)

7

More than one argument we can use in functions.

In [964]:
def first_function(x,y):
  z = x + y
  return z

first_function(x=4,y=2)

6

It's better to start a function name with a **verb** that explains what will happen in a function.

In [965]:
def get_sum(x,y):
  z = x + y
  return z

get_sum(x=4,y=2)

6

We can set a default value for arguments.

In [966]:
def get_sum(x,y=3):
  z = x + y
  return z

get_sum(x=4)

7

In [967]:
def get_sum(x,y=3):
  z = x + y
  return z

get_sum(x=4,y=2)

6

We can also pass a list to the arguments.

In [968]:
def get_sum(x,y):
  z = x + y
  return z

x = [3,2,7]
y = [1,4]
get_sum(x,y)

[3, 2, 7, 1, 4]

Or using loops and conditional statements inside functions.

In [969]:
def get_square(x,y):
  '''
  -> function documentation
  returns the square of any two provided numbers
  '''
  z = x + y
  if len(z) == 0:
    print("your list is empty!")
  else:
    for i in z:
      j = i**2
      print(f"i = {i} and j = {j}")

x = [3,2,7]
y = [1,-4]
get_square(x,y)

i = 3 and j = 9
i = 2 and j = 4
i = 7 and j = 49
i = 1 and j = 1
i = -4 and j = 16

## Exercise 8

---


1. Define a function to calculate BMI score.
2. Store BMI scores into the bmi_score list.
3. Sort items  by descending.

*   Expected output:
        bmi_score = [23.68, 28.20, 25.34, 20.02]

In [970]:
# patient = [weight(kg), height(cm)]
patient1 = [54.7, 152]
patient2 = [79.6, 168]
patient3 = [81.2, 179]
patient4 = [51.9, 161]
bmi_score = []

# start from here...
def calc_p_bmi(*args):
    output = []
    for p in args:
        output.append(round((p[0] / (p[1]/100)**2), 2))
    return output

bmi_score = calc_p_bmi(patient1, patient2, patient3, patient4)

print("bmi_score:", bmi_score)

bmi_score: [23.68, 28.2, 25.34, 20.02]

# !! Python Lambda functions and decorators  

### Lambda Functions

Lambda functions are small, anonymous functions defined using the `lambda` keyword.
**Syntax**: `lambda arguments: expression`
**Characteristics**:
  - Can take multiple arguments but can only contain a single expression.
  - Return the value of the expression.
  - Often used for short, throwaway functions.
**Common Uses**:
  - **With `map`**: Apply a function to all items in an iterable.
    ```python
    result = list(map(lambda x: x ** 2, [1, 2, 3]))  # [1, 4, 9]
    ```
  - **With `filter`**: Filter items in an iterable based on a condition.
    ```python
    result = list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4]))  # [2, 4]
    ```
  - **Sorting**: Use as a key for sorting lists.
    ```python
    sorted_list = sorted(list_of_dicts, key=lambda x: x['key'])
    ```
  - **Conditional Expressions**: Return values based on a condition.
    ```python
    max_value = lambda x, y: x if x > y else y
    ```

---

### Decorators

Decorators are functions that modify or enhance the behavior of other functions or methods.
**Syntax**:
  - A decorator is defined as a function that takes another function as an argument and returns a new function.
  - Applied using the `@decorator_name` syntax above the function to be decorated.
**Common Structure**:
  ```python
  def decorator(func):
      def wrapper(*args, **kwargs):
          # Add functionality here
          return func(*args, **kwargs)
      return wrapper
  ```
**Common Uses**:
  - **Logging**: Track function calls and arguments.
  - **Authorization**: Check permissions before executing a function.
  - **Caching**: Store results of expensive function calls.
  - **Validation**: Validate inputs before processing them.
- **Using `functools.wraps`**: To preserve the metadata (name, docstring) of the original function.
  ```python
  import functools

  def my_decorator(func):
      @functools.wraps(func)
      def wrapper(*args, **kwargs):
          # Add functionality here
          return func(*args, **kwargs)
      return wrapper
  ```

---

# 9.&nbsp;Algorithm (class)

There are many properties and methods in an **object** in Python, and almost everything is an object. **Classes** are like object constructors; we use them to group data and functionality. Functions belonging to objects are called **methods**.

In [971]:
def get_square(x,y):
  z = x + y
  if len(z) == 0:
    print("your list is empty!")
  else:
    for i in z:
      j = i**2
      print(f"i = {i} and j = {j}")

x = [3,2,7]
y = [1,-4]
get_square(x,y)

i = 3 and j = 9
i = 2 and j = 4
i = 7 and j = 49
i = 1 and j = 1
i = -4 and j = 16

In [972]:
class Price:
  def __init__(self, value, discount):
    self.value = value
    self.discount = discount

  def summer(self):
    summer_price = round(self.value - (self.value * (self.discount/100)), 2)
    print(summer_price)

  def winter(self):
    winter_price = round(self.value - (self.value * (self.discount * 2/100)), 2) #double discount
    print(winter_price)

#create variables from the class (Price is a "definition" and shoes_price is an "instance")
shoes_price = Price(115, 18) # price 115 euro and 18% discount
shoes_price.summer()
shoes_price.winter()

94.3
73.6

# !! OOP in python overview  

- OOP is a programming paradigm that uses "objects" to design software.
- Objects are instances of classes, which encapsulate data and functionality.

#### **Key Concepts**
- **Class**: A blueprint for creating objects (instances). Defines properties (attributes) and methods (functions).
- **Object**: An instance of a class. Contains real values instead of variables.
- **Attributes**: Variables that belong to a class (characteristics of an object).
- **Methods**: Functions defined within a class that describe the behaviors of an object.

#### **Core Principles**
- **Encapsulation**: Bundling of data and methods that operate on the data within a single unit (class). It restricts direct access to some of the object's components.
  - Access modifiers: 
    - Public: Accessible from outside the class.
    - Protected: Accessible within the class and its subclasses.
    - Private: Accessible only within the class.

- **Inheritance**: Mechanism to create a new class based on an existing class (parent class). The new class (child class) inherits attributes and methods from the parent class.
  - Allows code reusability and the creation of hierarchical class structures.

- **Polymorphism**: Ability to present the same interface for different underlying data types. Enables methods to do different things based on the object calling them.
  - Method Overriding: A child class can provide a specific implementation of a method that is already defined in its parent class.

- **Abstraction**: Hiding complex implementation details and exposing only the necessary features of an object. This can be achieved using abstract classes and interfaces.

#### **Creating a Class**
```python
class ClassName:
    def __init__(self, attributes):
        self.attribute = attributes  # Constructor method

    def method_name(self):
        # Method implementation
        pass
```

#### **Creating an Object**
```python
object_name = ClassName(arguments)  # Instantiate a class
```

#### **Example of a Class in Python**
```python
class Dog:
    def __init__(self, name, age):
        self.name = name  # Public attribute
        self._age = age   # Protected attribute

    def bark(self):
        print(f"{self.name} says Woof!")

    def get_age(self):
        return self._age  # Public method to access protected attribute
```

#### **Inheritance Example**
```python
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):  # Dog inherits from Animal
    def speak(self):  # Method overriding
        print("Dog barks")

dog = Dog()
dog.speak()  # Output: Dog barks
```

#### **Polymorphism Example**
```python
class Cat(Animal):
    def speak(self):
        print("Cat meows")

def animal_sound(animal):
    animal.speak()

animal_sound(Dog())  # Output: Dog barks
animal_sound(Cat())  # Output: Cat meows
```

#### **Abstraction Example**
```python
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height  # Concrete implementation

rect = Rectangle(5, 10)
print(rect.area())  # Output: 50
```

#### **Conclusion**
- OOP promotes code organization and modularity.
- It enhances reusability and maintainability of code.
- Key concepts include encapsulation, inheritance, polymorphism, and abstraction.

---

## Exercise 9

---


1. Define a class called BMI and three methods including converting pound to kg, inch to cm, and calculating BMI score.
2. Calculate BMI score for 3 given patients and store them in the bmi_score list.

*   Expected output:
        bmi_score = [23.49, 27.98, 25.14, 19.86]

In [973]:
# 1 pound ≈ 0.45 kg
# 1 inch ≈ 2.54 cm
# patient = [weight(pound), height(inch)]
patient1 = [120.59, 59.84]
patient2 = [175.49, 66.14]
patient3 = [179.02, 70.47]
patient4 = [114.42, 63.39]
bmi_score = []

# start from here...
class BMI:
    def __init__(self, weight, height):
        self.weight = weight
        self.height = height

    def conv_lb_kg(self):
        self.weight = self.weight * 0.45
    
    def conv_inch_cm(self):
        self.height = self.height * 2.54
    
    def calc_bmi(self):
        return round((self.weight / (self.height/100)**2), 2)

def calc_p_bmi(p):
    patient = BMI(weight=p[0], height=p[1])
    patient.conv_inch_cm()
    patient.conv_lb_kg()
    return patient.calc_bmi()

patients = [patient1, patient2, patient3, patient4]

bmi_score = [calc_p_bmi(p) for p in patients]

print(bmi_score)

[23.49, 27.98, 25.14, 19.86]

# 10.&nbsp;Algorithm (error and exception)

If Python can't understand your code, we will get an **error**! However, we can find our error location by finding `^` in an error message.

In [974]:
# syntax error (missed variable)
x = 5
if x > 3:
  print("Hello")

Hello

In [975]:
# syntax error (misspelling)
x = 5
if x > 3:
  print("Hello")

Hello

In [976]:
# missing indentation error (missed indentation)
x = 5
if x > 3:
    print("Hello")

Hello

On the other hand, sometimes Python understands our code, but can't execute it. Therefore, it raises an **exception**. The text in the console is called **traceback** and it helps us to **debug** our code.

In [977]:
# name error
# height = cm / 100

In [978]:
# type error
# height = 100 + "56"

In [979]:
# zero division error
height = 156 / 0

ZeroDivisionError: division by zero

In [ ]:
# module not found error
# import numpyy

Be careful! Sometimes a module exists but we need to install it.

In [ ]:
# !pip install mne
# import mne # package for human neurophysiological data analysis

In [852]:
# index error
height = [149, 187, 168]
# height[3]

We can use errors and exceptions to debug our code. Besides, we can use them to avoid **unwanted issues**.

In [853]:
# test 1: run the code and see the results
# test 2: add "184" to "student_height" and run the code
# test 3: remove "184" from "student_height" and change "179" into "0" and run the code

student_name = ["Georgia", "Oscar", "Juliet", "Lily", "William"]
student_weight = [54.7, 79.6, 81.2, 51.9, 102.5]
student_height = [152, 168, 179, 161, 193]
student_bmi = []

# make sure about data size
if len(student_weight) != len(student_height):
  raise Exception("There must be equal size for weights and heights")

for i in range(len(student_name)):
  # make sure height is not zero
  if student_height[i] == 0:
    raise ValueError("height can not be zero")

  student_bmi.append(round(student_weight[i] / ((student_height[i]/100)**2), 1))

print(student_bmi)

[23.7, 28.2, 25.3, 20.0, 27.5]

Sometimes we don't want to raise an exception and we want to handle it. For example, we want a `for` loop to continue at the end of the code by ignoring negative values for weight, therefore we can use `try` and `except`.

In [854]:
student_name = ["Georgia", "Oscar", "Juliet", "Lily", "William"]
student_weight = [54.7, 79.6, 81.2, 51.9, 102.5]
student_height = [-152, 168, 0, 161, 193]
student_bmi = []


for i in range(len(student_name)):

  try:
    student_bmi.append(round(student_weight[i] / ((student_height[i]/100)**2), 1))

  except:
    continue

print(student_bmi)

[23.7, 28.2, 20.0, 27.5]

## Exercise 10

---


1. Copy your exercise 9 code.
2. Set a **type error** to check the heights have float values.
3. Set a value error to make sure the BMI score is not negative.

In [ ]:
# 1 pound ≈ 0.45 kg
# 1 inch ≈ 2.54 cm
# patient = [weight(pond), height(inch)]
patient1 = [120.59, 59.84]
patient2 = [175.49, 66.14]
patient3 = [179.02, 70.47]
patient4 = [114.42, 63.39]
bmi_score = []

# past your code here...

Congratulations! You did it.

# References and Resources:

1. You can continue your learning by more complex data structure and algorithm tasks in [Leetcode](https://leetcode.com/).

2. you can always have access to Python syntax and practical examples in [w3schools](https://www.w3schools.com/python/default.asp) and [geeksforgeeks](https://www.geeksforgeeks.org/python-programming-language/).

3. You can find everything about Numpy to work with arrays [HERE](https://numpy.org/doc/stable/index.html#) and you can also utilize all APIs and documents about Pandas to work with data frames [HERE](https://pandas.pydata.org/docs/index.html#).

# !! Typing in python 
Typing in Python has evolved significantly, especially with the introduction of type hints in PEP 484. 

### 1. Type Checking

Type checking in Python can be broadly categorized into two types:

#### a. **Static Type Checking**
- **Type Hints**: Introduced in Python 3.5, type hints allow developers to specify the expected types of variables, function parameters, and return values. This does not enforce type checking at runtime but allows for better code readability and tooling support.
- **Type Annotations**: You can annotate variables and functions using syntax such as:
    ```python
    def add(x: int, y: int) -> int:
        return x + y
    ```
- **Static Type Checkers**: Tools like `mypy` can analyze the code and detect type-related issues before runtime. You can run `mypy` on your Python files to check for type consistency.

#### b. **Dynamic Type Checking**
- Python is a dynamically typed language, meaning that type checking occurs at runtime. You can change the type of a variable at any time, which allows for flexibility but can lead to runtime errors if not managed carefully.
    ```python
    x = 5       # x is an int
    x = "hello" # now x is a str
    ```

### 2. Type Casting

Type casting refers to converting a variable from one type to another. Python provides several built-in functions for type casting:

- **int()**: Converts to an integer.
- **float()**: Converts to a float.
- **str()**: Converts to a string.
- **list()**: Converts to a list.
- **tuple()**: Converts to a tuple.
- **set()**: Converts to a set.

**Examples:**
```python
# Casting examples
a = "10"
b = int(a)  # a is converted from str to int
print(b)    # Output: 10

c = 3.14
d = int(c)  # c is converted from float to int
print(d)    # Output: 3
```

### 3. Usage of Type Checking and Casting

Using type checking and casting effectively can enhance the robustness and clarity of your code:

#### a. **Function Definitions**
- Type hints help communicate the intended use of functions, making it easier for users and tools to understand what types of arguments are expected.

```python
from typing import List, Dict

def process_data(data: List[int]) -> Dict[str, int]:
    return {'min': min(data), 'max': max(data), 'sum': sum(data)}
```

#### b. **Type Aliases**
- You can define type aliases for complex types to make code more readable.

```python
from typing import List, Tuple

Coordinates = List[Tuple[float, float]]

def calculate_distance(points: Coordinates) -> None:
    pass
```

#### c. **Union Types**
- You can specify that a variable can be one of multiple types using the `Union` type.

```python
from typing import Union

def stringify(value: Union[int, float]) -> str:
    return str(value)
```

#### d. **Optional Types**
- You can use `Optional` to indicate that a variable can be of a certain type or `None`.

```python
from typing import Optional

def find_item(items: List[str], target: str) -> Optional[int]:
    try:
        return items.index(target)
    except ValueError:
        return None
```